*{
    margin: 0;
    padding: 0;
}
.header{
    height: 50px;
    width: 100%;
    background-color: bisque;
    margin-bottom: 5px;
    
}
.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-style: oblique;
    text-transform: uppercase;
    text-align: center;
    
}
.mainubar{justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left:10px;
    list-style: none;
    position: relative;
    color: antiquewhite;
    
    
}
.mainubar,ul{
    display: flex;
    gap: 10px;

}
li,a{text-decoration: none;
color: black;
list-style: none;}

.threebox{
    display: flex;
    
}
.threebox img{
    height: 340px;}
.buybox{
    display: flex;
}
.buybox img{
    height: 150px;
    width: 150px;
}
.offer{margin: 20px;
    position: relative;
    height: 80px;
    background-color: beige;
    text-align: center;
    text-transform: capitalize;
    font-size: larger;
    font-weight: bolder;
    
    
    
}